<head>
  <meta charset="utf-8">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![end if]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% set title = title or site.title %}
  {% set title = title | escape %}
  {% set description = excerpt or page.excerpt or site.description %}
  {% set description = description | trim | truncate(160) %}
  {% set pageUrl = site.url + page.url | replace('index.html', '') | url %}
  {% set siteUrl = site.url | url %}

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  {% if site.keywords -%}
    <meta name="keywords" content="{{ site.keywords | join(', ') }}">
  {%- endif %}

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ pageUrl }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">

  {% if page.header.image and site.environment == 'production' or site.environment == 'gulp' -%}
    {% set suffix = '-' + page.header.fit if page.header.fit else '-cc' %}
    {% set headerImage = page.header.image | baseName | fileSuffix(suffix) %}
    {% set headerImage = siteUrl + '/assets/og-images/' + headerImage %}
  {%- endif %}
  {% set ogImage = ogImage or headerImage or templateImage or site.ogImage %}
  <meta property="og:image" content="{{ siteUrl + ogImage | url }}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ 'Raleway:400,700' | urlencode }}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-vlOMx0hKjUCl4WzuhIhSNZSm2yQCaf0mOU1hEDK/iztH3gU4v5NMmJln9273A6Jz" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <link rel="canonical" href="{{ pageUrl }}">

  <script src="{{ '/js/picturefill.min.js' | url }}" async></script>
  {# {% include '_includes/netlify-identity.html' %} #}

  {% if site.google_analytics and site.environment == 'production' %}
    {% include '_includes/analytics.html' %}
  {% endif %}
</head>
